<section class="flight-content">
    <div class="flight-search">
        <mat-card>
            <mat-tab-group (selectedTabChange)="toggleReturn()">
                <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab">
                    <div class="search-form">
                        <form id="criteria-form" [formGroup]="criteriaForm" (submit)="searchFlights()"
                            autocomplete="off">
                            <mat-form-field class="form-field" appearance="outline">
                                <mat-label> Orgin City
                                </mat-label>
                                <input matInput formControlName="originCity" required>
                                <mat-error
                                    *ngIf="criteriaForm.controls.originCity.touched && criteriaForm.controls.originCity.invalid">
                                    <span *ngIf="criteriaForm.controls.originCity.errors.required">This field is
                                        mandatory.</span>
                                    <span *ngIf="criteriaForm.controls.originCity.errors.pattern">This field is
                                        invalid.</span>
                                </mat-error>
                            </mat-form-field>
                            <!-- <mat-form-field class="form-field" appearance="outline">
                                <input type="text" placeholder="Enter Origin City" aria-label="Orgin City" matInput
                                    [formControl]="originCity" [matAutocomplete]="auto">
                                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                        {{option}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field> -->
                            <mat-form-field class="form-field" appearance="outline">
                                <mat-label> Destination City
                                </mat-label>
                                <input matInput formControlName="destCity" required>
                                <mat-error
                                    *ngIf="criteriaForm.controls.destCity.touched && criteriaForm.controls.destCity.invalid">
                                    <span *ngIf="criteriaForm.controls.destCity.errors.required">This field is
                                        mandatory.</span>
                                    <span *ngIf="criteriaForm.controls.destCity.errors.pattern">This field is
                                        invalid.</span>
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="form-field" appearance="outline">
                                <mat-label>Departure Date</mat-label>
                                <input matInput [matDatepicker]="picker1" [min]="minDate">
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field class="form-field" appearance="outline">
                                <mat-label>Return Date</mat-label>
                                <input matInput [matDatepicker]="picker2">
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                        </form>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
    </div>
    <div class="flight-search-results">
        <app-flight-search-results [flightResults]="flightResultsArr"></app-flight-search-results>
    </div>
</section>